<div class="container d-flex flex-column justify-content-center align-items-center mb-4">
  <div>
    <%= render 'shared/tutor_profile', tutor: @tutor %>
  </div>
  <% if @tutor != current_user.tutor %>
  <div id="bookmeone" style="width: 440px">
    <%= link_to "Book Me", new_tutor_booking_path(@tutor), class: "btn btn-success btn-lg btn-block"  %>
  </div>
  <% end %>
</div>
