// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "container";
@import "form";

body {
  background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url("https://res.cloudinary.com/be6sky/image/upload/v1574861787/wood-light_uvcpqk.jpg");
  background-size: cover;
  font-family: 'Calistoga', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  color: #F8F8F8;
}
