// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "container";
@import "form";
@import "banner";

body {
  background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url("https://wallpaperplay.com/walls/full/c/e/d/326924.jpg");
  background-size: cover;
  font-family: 'Calistoga', cursive;
}

h1, h2 {
  font-family: 'Righteous', cursive;
}
