.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-family: 'Righteous', cursive;
  transition: 0.5s background-color ease;

  .navbar-collapse {
    flex-grow: 0;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover {
    box-shadow: inset 0 0 5px rgba(0,0,0,.075), 0 0 8px rgba(253, 236, 110, 0.6);
  }
}

#navbarDropdown:hover {
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0,0,0,.075), 0 0 8px rgba(253, 236, 110, 0.6);
}

#logo {
  margin-right: auto;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;

  &:hover {
    color: red;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: white;

  &:hover {
    color: red;
  }
}
