<div class="d-flex justify-content-center align-items-center">
  <%= simple_form_for [booking, review] do |f| -%>
    <%= f.input :content %>
    <%= f.input :stars, collection: (1..5).to_a, label: "Rate your experience" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end -%>
</div>
